
body {
  background-color: #F6D167;
}

.jumbotron{
  background-color: #F6D167;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #F6D167;
  background-color: #082032;
}

.card-body{
  background-color: #FDE49C;
}


